MSA-AdminPortal/Web References/RegistrationService/Registration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FSS.Data.Models.AutoUpdate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FSS.Data.Models.AutoUpdate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fssregistrationdev.cloudapp.net/Registration.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="AutoUpdateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoUpdateAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutoUpdateContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutoUpdateFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="xs:long" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Version" nillable="true" type="q1:Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoUpdateInfo" nillable="true" type="tns:AutoUpdateInfo" />
</xs:schema>